<h1>New Submission</h1>

<p>Location: <%= @info["state"]%> </p>
<p>Cost: <%= @info["free"] %> </p>
<p>Date: <%= @info["date"] %> </p>
<p>Image: <%= @info["img"] %> </p>
<p>Host: <%= @info["host"] %> </p>
<p>Description: <%= @info["description"] %> </p>
<p>Link: <%= @info["url"] %> </p>
